/* npx json-server --watch db.json --port 3005  http://localhost:3005/give */
*{
  margin: 0px;
  padding: 0px;
}
body{
    background-color: #FFF5F5;
}
.heading{
    background-color: red;
    color:black;
    padding: 10px;
    
}
.heading h1{
    margin-left: 20px;
}
.popup-overlay {
  background-color: black;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  position: fixed; /* Use fixed for full-screen overlay */
  top: 0;
  left: 0;
  z-index: 1;
  display: flex; /* Show as flex to center content */
  justify-content: center;
  align-items: center;
}

.pop-box {
  background-color: brown;
  width: 500px;
  padding: 10px;
  border-radius: 8px;
  z-index: 2;
  position: relative; /* Relative inside the overlay */
}
.pop-title{
    padding: 5px;
    margin-top: 8px;
    background-color: brown;
    border: none;
    outline: none;
    color: black;
    font-size: large;
    border-bottom: solid 2px black;
    width: 400px;

}
.pop-title::placeholder{
    color: black;
}
.pop-author{
    padding: 5px;
    margin-top: 8px;
    background-color: brown;
    border: none;
    outline: none;
    color: black;
    font-size: large;
    border-bottom: solid 2px black;
    width: 400px;
}
.pop-author::placeholder{
    color: black;
}
.pop-description{
    padding: 5px;
    margin-top: 8px;
    background-color: brown;
    /* border: none; */
    outline: none; 
    color: black;
    font-size: large;
    border: solid 2px black;
    width: 400px;
    display: block;

}
.pop-description::placeholder{
    color: black;
}
.pop-add{
    background-color: black;
    padding: 5px 5px;
    border-radius: 10px; /* Rounded corners */
    border: none;
    color:white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    /* display: block; */
    width: 60px;
}
.pop-del{
    background-color: black;
    padding: 5px 5px;
    border-radius: 10px; /* Rounded corners */
    border: none;
    color:white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    /* display: block;  */
    width: 60px;
    margin-left: 80px;
}
.add-button{
    background-color: red;
    padding: 15px 15px;
    border-radius: 20px; /* Rounded corners */
    border: none;
    color:black;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    right: 25px;
    bottom: 20px;
}
.rbox{
    width: 300px;
    background-color: black;
    padding: 10px;
    line-height: 23px;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 20px;
    display: inline-block;
}
.rbox .rtitle{
    color: brown;
    margin-top: 10px;
    margin-bottom: 10px;
}
.rbox .rauthor{
    color:white;
}
.rbox .rdescription{
    color:white;
}
.rbox .resbtn{
    background-color: brown;
    padding: 5px 5px;
    border-radius: 10px; /* Rounded corners */
    border: none;
    color:black;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
}
